<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ publicResourcesBucket }}/styles/approved-aging.css">
</head>

<body>
    <div id="page_1">
      <div id="p1dimg1">
        <img
            class="logo"
            src="{{ publicResourcesBucket }}/assets/bobtail-logo.png"
        />
      </div>

      <div class="contact-info-wrap">
        <label class="contact-info-text">
          invoices@bobtail.com | www.bobtail.com | 410-204-2084
          </label>
      </div>

      <div class="report-title-wrap">
          <label class="report-title">
            Aging Report - {{ currentDate }}
          </label>
      </div>

    </div>

    <!-- INVOICES -->
    {{#if items.length}}
    <table cellpadding=0 cellspacing=0 class="t0 table-wrap">
        <tr>
            <td class="tr2 td24"><p class="p3 ft3">Date</p></td>
            <td class="tr2 td17"><p class="p1 ft3">Client</p></td>
            <td class="tr2 td18"><p class="p4 ft3">Debtor</p></td>
            <td class="tr2 td19"><p class="p5 ft3">Invoice #</p></td>
            <td class="tr2 td19"><p class="p5 ft3">Load #</p></td>
            <td class="tr2 td19"><p class="p5 ft3">Approved A/R</p></td>
            <td class="tr2 td19"><p class="p5 ft3">Invoice Amount</p></td>
        </tr>
        {{#each items}}
            <tr>
                <td class="tr3 td8">
                    <p class="p1 ft2">
                       {{ createdAt }}
                    </p>
                </td>
                <td class="tr3 td1">
                    <p class="p1 ft2">{{ clientName }}</p>
                </td>
                <td class="tr3 td2">
                    <p class="p4 ft2">{{ brokerName }}</p>
                </td>
                <td class="tr3 td3">
                  <p class="p5-2 ft2"> {{ displayId }} </p>
                </td>
                <td class="tr3 td3">
                    <p class="p5-2 ft2">
                        {{ loadNumber }}
                    </p>
                </td>
                <td class="tr3 td3">
                    <p class="p5-2 ft2">
                        {{ arValue }}
                    </p>
                </td>
                <td class="tr3 td3">
                    <p class="p5-2 ft2">
                        {{ lineHaulRate }}
                    </p>
                </td>
            </tr>
        {{/each}}
    </table>
    {{/if}}
</body>
</html>
