<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ stats.clientName }} Annual Report</title>
    <style>
        @font-face {
            font-family: 'Merriweather-Regular';
            src: url('https://bobtail-fonts.s3.amazonaws.com/Merriweather-Regular.ttf')
                format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @page {
            size: landscape;
            margin-top: 30px;
            margin-left: 100px;
            margin-right: 100px;
            margin-bottom: 30px;
            height: 100%;
            width: 100%;
        }
        body {
            margin-top: 0px;
            margin-left: 0px;
            height: 100%;
            width: 100%;
            font-family: 'Merriweather-Regular' !important;
        }
        .header-wrap {
            text-align: center;
            width: 100%;
        }
        .header-wrap .report-title {
            margin-top: 30px;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Arial';
        }
        .cover {
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        .header-logo {
            width: 15.7%;
        }
        .client-name {
            margin-top: 22px;
            font-size: 22px;
            font-family: 'Merriweather-Regular';
        }
        .body-wrap {
            font-size: 22px;
            margin-top: 40px;
        }
        .body-row {
            margin-bottom: 12px;
        }
        .signoff-header {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .signoff-thanks {
            margin-bottom: 12px;
        }
        #page {
            page-break-before: always;
            break-before: page;
            page-break-inside: avoid;
            break-inside: avoid;
        }
        #items {
            position: relative;
            overflow: hidden;
            margin: 0px 52px 0px 52px;
            padding: 0px;
            border: none;
            width: 1018px; 
        }

        .break-word {
            overflow-wrap: break-word; 
        }

        .capitalize {
            text-transform: uppercase; 
        }

        .nowrap {
            white-space: nowrap;
        }

        .ft0 {
            font: bold 20px 'Arial';
            line-height: 24px;
        }

        .ft1 {
            font: italic 14px 'Arial';
            line-height: 16px;
        }

        .ft2 {
            font: 14px 'Arial';
            line-height: 16px;
        }

        .ft3 {
            font: bold 14px 'Arial';
            line-height: 16px;
        }

        .ft4 {
            font: bold 14px 'Arial';
            line-height: 16px;
        }

        .ft5 {
            font: bold 14px 'Arial';
            line-height: 15px;
        }

        .ft6 {
            font: 14px 'Arial';
            line-height: 16px;
        }

        .ft7 {
            font: 14px 'Arial';
            line-height: 16px;
        }

        .logo {
            width: 85px;
        }

        .table-wrap {
            margin-bottom: 75px;
            padding-bottom: 0px;
        }

        .p0 {
            text-align: left;
            padding-left: 327px;
            margin-top: 53px;
            margin-bottom: 0px;
        }

        .p1 {
            text-align: left;
            padding-right: 24px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p2 {
            text-align: left;
            padding-left: 16px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p3 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p4 {
            text-align: left;
            padding-right: 24px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p5 {
            text-align: left;
            padding-left: 23px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p6 {
            text-align: right;
            padding-right: 25px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p7 {
            text-align: right;
            padding-right: 22px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p8 {
            text-align: right;
            padding-right: 8px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p9 {
            text-align: right;
            padding-right: 50px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p10 {
            text-align: right;
            padding-right: 33px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p11 {
            text-align: right;
            padding-right: 6px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p12 {
            text-align: right;
            padding-right: 3px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p13 {
            text-align: right;
            padding-left: 22px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p14 {
            text-align: right;
            padding-left: 21px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .td0 {
            padding: 0px;
            margin: 0px;
            width: 412px;
            vertical-align: bottom;
        }

        .td7 {
            padding: 0px;
            margin: 0px;
            width: 94px;
            vertical-align: bottom;
        }

        .td9 {
            padding: 0px;
            margin: 0px;
            width: 94px;
            vertical-align: bottom;
        }

        .td10 {
            padding: 0px;
            margin: 0px;
            width: 318px;
            vertical-align: bottom;
        }

        .td11 {
            padding: 0px;
            margin: 0px;
            width: 97px;
            vertical-align: bottom;
        }

        .td12 {
            padding: 0px;
            margin: 0px;
            width: 118px;
            vertical-align: bottom;
        }

        .td13 {
            padding: 0px;
            margin: 0px;
            width: 91px;
            vertical-align: bottom;
        }

        .td14 {
            padding: 0px;
            margin: 0px;
            width: 80px;
            vertical-align: bottom;
        }

        .td15 {
            padding: 0px;
            margin: 0px;
            width: 69px;
            vertical-align: bottom;
        }
        .td16 {
            padding: 0px;
            margin: 0px;
            width: 87px;
            vertical-align: bottom;
        }
        .td8 {
            padding: 0px;
            margin: 0px;
            max-width: 150px !important;
            width: 150px !important;
            vertical-align: top;
        }
        .td24 {
            padding: 0px;
            margin: 0px;
            padding-bottom: 10px;
            max-width: 150px !important;
            width: 150px !important;
            vertical-align: bottom;
        }
        .td1 {
            padding: 0px;
            margin: 0px;
            max-width: 230px !important;
            width: 230px !important;
            vertical-align: top;
        }
        .td17 {
            padding: 0px;
            margin: 0px;
            padding-bottom: 10px;
            max-width: 230px !important;
            width: 230px !important;
            vertical-align: bottom;
        }
        .td2 {
            padding: 0px;
            margin: 0px;
            max-width: 300px !important;
            width: 300px !important;
            vertical-align: top;
        }
        .td18 {
            padding: 0px;
            margin: 0px;
            padding-bottom: 10px;
            max-width: 300px !important;
            width: 300px !important;
            vertical-align: bottom;
        }
        .td3 {
            padding: 0px;
            margin: 0px;
            max-width: 105px !important;
            width: 105px !important;
            vertical-align: top;
        }
        .td19 {
            padding: 0px;
            margin: 0px;
            padding-bottom: 10px;
            max-width: 105px !important;
            width: 105px !important;
            vertical-align: bottom;
        }
        .td20 {
            padding: 0px;
            margin: 0px;
            padding-bottom: 10px;
            max-width: 100px !important;
            width: 100px !important;
            vertical-align: bottom;
        }
        .td4 {
            padding: 0px;
            margin: 0px;
            max-width: 100px !important;
            width: 100px !important;
            vertical-align: top;
        }
        .td5 {
            padding: 0px;
            margin: 0px;
            max-width: 60px !important;
            width: 60px !important;
            vertical-align: top;
        }
        .td21 {
            padding: 0px;
            margin: 0px;
            padding-bottom: 10px;
            max-width: 60px !important;
            width: 60px !important;
            vertical-align: bottom;
        }
        .td6 {
            padding: 0px;
            margin: 0px;
            max-width: 110px !important;
            width: 110px !important;
            vertical-align: top;
        }
        .td22 {
            padding: 0px;
            margin: 0px;
            padding-bottom: 10px;
            max-width: 110px !important;
            width: 110px !important;
            vertical-align: bottom;
        }
        .td23 {
            padding: 0px;
            margin: 0px;
            padding-bottom: 10px;
            width: 94px;
            vertical-align: bottom;
        }
        .tr0 {
            height: 24px;
        }
        .tr1 {
            height: 38px;
        }
        .tr2 {
            height: 20px;
        }
        .tr3 {
            height: 28px;
        }
        .tr4 {
            height: 30px;
        }
    </style>
</head>
<body>
    <div class="cover">
        <div class="header-wrap">
            <img class="header-logo" src="{{ publicResourcesBucket }}/assets/bobtail-logo.png"/>
            <div class="report-title">
                {{ stats.year }} Annual Report
            </div>
            <div class="client-name">
                {{ stats.clientName }}
            </div>
        </div>

        <div class="body-wrap">
            <div class="body-row">
                In {{ stats.year }}, you factored {{ stats.invoiceFactoredCount }} invoices.
            </div>
            <div class="body-row">
                The total volume of invoices factored was {{ stats.totalVolume }}.
            </div>
            <div class="body-row">
                The total amount of funds sent to you was {{ stats.paidToClient }}.
            </div>
            <div class="body-row">
                The total amount of factoring fees was {{ stats.totalFees }}.
            </div>
            <div class="signoff-header">
                Please let us know if you have any questions.
            </div>
            <div class="signoff-thanks">
                Thanks,
            </div>
            <div class="signoff-thanks">
                The Bobtail Team
            </div>
            <div id="page">
              <table cellpadding=0 cellspacing=0 class="t0 table-wrap">
                  <tr>
                      <td class="tr2 td24"><p class="p3 ft3 nowrap">Approved Date</p></td>
                      <td class="tr2 td17"><p class="p1 ft3 nowrap">Client</p></td>
                      <td class="tr2 td18"><p class="p4 ft4">Debtor</p></td>
                      <td class="tr2 td19"><p class="p5 ft3 nowrap">Load #</p></td>
                      <td class="tr2 td20"><p class="p6 ft5 nowrap">Invoiced</p></td>
                      <td class="tr2 td21"><p class="p7 ft3 nowrap">Fees</p></td>
                      <td class="tr2 td22"><p class="p8 ft4 nowrap">Funded</p></td>
                  </tr>
                  {{#each items}}
                      <tr class="capitalize">
                          <td class="tr3 td8">
                              <p class="p1 ft6 nowrap">
                                  {{ approvedDate }}
                              </p>
                          </td>
                          <td class="tr3 td1">
                              <p class="p1 ft2">
                                  {{ clientName }}
                              </p>
                          </td>
                          <td class="tr3 td2">
                              <p class="p4 ft7">
                                  {{ brokerName }}
                              </p>
                          </td>
                          <td class="tr3 td3">
                              <p class="p5 ft6 break-word">
                              {{ loadNumber }}
                              </p>
                          </td>
                          <td class="tr3 td4">
                              <p class="p11 ft7 nowrap">
                                  {{ invoiceValue }}
                              </p>
                          </td>
                          <td class="tr3 td5">
                              <p class="p12 ft6 nowrap">
                                  {{ invoiceFees }}
                              </p>
                          </td>
                          <td class="tr3 td6">
                              <p class="p13 ft6 nowrap">
                                  {{ fundedValue }}
                              </p>
                          </td>
                      </tr>
                  {{/each}}
                  {{#with totals}}
                  <tr>
                      <td class="tr4 td8"><p class="p1 ft2 nowrap">&nbsp;</p></td>
                      <td class="tr4 td1"><p class="p1 ft2 nowrap">&nbsp;</p></td>
                      <td class="tr4 td2"><p class="p4 ft4">Total</p></td>
                      <td class="tr4 td3"><p class="p5 ft3 break-word">&nbsp;</p></td>
                      <td class="tr4 td4"><p class="p11 ft4 nowrap">{{ stats.totalVolume }}</p></td>
                      <td class="tr4 td5"><p class="p12 ft3 nowrap">{{ stats.totalFees }}</p></td>
                      <td class="tr4 td6"><p class="p14 ft3 nowrap">{{ stats.paidToClient }}</p></td>
                  </tr>
              {{/with}}
              </table>
          </div>
        </div>
    </div>
</body>