<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{tenant.name}} Release Letter</title>
  <link rel="stylesheet" type="text/css" href="{{ publicResourcesBucket }}/styles/release-letters.css">
</head>

<body>
  <div id="page_1">
    <div id="p1dimg1">
      <img class="logo" src="{{ publicResourcesBucket }}/assets/bobtail-logo.png" />
    </div>

    <div class="dclr"></div>

    {{#with tenant}}
    <table cellpadding=0 cellspacing=0 class="t0">
      <tr>
        <td class="tr0 td0">
          <p class="p0 ft0">{{ bobtailData.office.address }} {{ bobtailData.office.address2 }}</p>
        </td>
        <td class="tr0 td1">
          <p class="p1 ft0">{{ bobtailData.phone.dotFormat }}</p>
        </td>
      </tr>
      <tr>
        <td class="tr1 td0">
          <p class="p0 ft0">{{ bobtailData.office.city }}, {{ bobtailData.office.state }} {{ bobtailData.office.zip }}</p>
        </td>
        <td class="tr1 td1">
          <p class="p1 ft0">{{ bobtailData.url }}</p>
        </td>
      </tr>
    </table>
    {{/with}}

    <p class="p2 ft1">{{ date.format_long }}</p>

    <p class="p3 ft2">ATTN: &nbsp; Accounts Payable Manager</p>

    <p class="p4 ft2">
      RE: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Release {{ client.name }}
      {{#if client.mc }}
      {{#if client.dot }}
      (MC {{ client.mc }} / DOT {{ client.dot }})
      {{ else }}
      (MC {{ client.mc }})
      {{/if }}
      {{ else }}
      {{#if client.dot }}
      (DOT {{ client.dot }})
      {{/if }}
      {{/if }}
    </p>

    <p class="p5 ft1">
      Please be advised that as of {{ date.format_short }} <span class="capitalize">{{ bobtailData.name }}</span>
      no longer has any ownership over the receivables of {{ client.name }}. Therefore, going
      forward you may pay them or their agents according to their instructions.
    </p>

    <p class="p6 ft3">Please let us know if you have any other questions. Thanks.</p>

    <p class="p6 ft1">Sincerely,</p>

    <img class="signature" src="{{ publicResourcesBucket }}/assets/signature.png" />
    <p class="p7 ft1">{{ bobtailData.report.signeeName }}</p>
    <p class="p8 ft4">{{ bobtailData.report.signeeTitle }}</p>
    <p class="p8 ft1"><span class="capitalize">{{ bobtailData.name }}</span></p>

  </div>
</body>

</html>
