<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{tenant.name}} Release Letter</title>
    <link rel="stylesheet" type="text/css" href="/public/releaseLetters/src/styles/releaseLetters.css">
</head>

<body>
    <div id="page_1">
        <div id="p1dimg1">
            <img 
                class="logo"
                src="{{ tenant.logo_path }}" 
            />
        </div>

        <div class="dclr"></div>
        
        {{#with tenant}}
        <table cellpadding=0 cellspacing=0 class="t0">
            <tr>
                <td class="tr0 td0"><p class="p0 ft0">{{ office_address }} {{ office_address_2 }}</p></td>
                <td class="tr0 td1"><p class="p1 ft0">{{ phone_format_dot }}</p></td>
            </tr>
            <tr>
                <td class="tr1 td0"><p class="p0 ft0">{{ office_city }}, {{ office_state }} {{ office_zip }}</p></td>
                <td class="tr1 td1"><p class="p1 ft0">{{ website_url }}</p></td>
            </tr>
        </table>
        {{/with}}

        <p class="p2 ft1">{{ date.format_long }}</p>

        <p class="p3 ft2">ATTN: Accounts Payable Manager</p>

        <p class="p4 ft2">
            RE: Release {{ client.name }} 
                {{#if client.mc }}
                    ( MC {{ client.mc }}
                    {{#if client.dot }}
                         / DOT {{ client.dot }}
                    {{/if }}
                     )
                {{ else }}
                    {{#if client.dot }}
                         ( DOT {{ client.dot }} )
                    {{/if }}
                {{/if }}
        </p>

        <p class="p5 ft1">
            Please be advised that as of {{ date.format_short }} <span class="capitalize">{{ tenant.name }}</span> releases {{ debtor.name }} 
            {{#if debtor.broker }} 
                (MC {{ debtor.broker.mc }}) 
            {{/if}} 
            from any payments related to the receivables of {{ client.name }}. Therefore, going 
            forward you may pay them or their agents according to their instructions.
        </p>

        <p class="p6 ft3">Please let us know if you have any other questions. Thanks.</p>

        <p class="p6 ft1">Sincerely,</p>
        
        {{#with tenant}}
            <img 
                class="signature"
                src="{{ signature_path }}" 
            />
            <p class="p7 ft1">{{ report_signee_name }}</p>
            <p class="p8 ft4">{{ report_signee_title }}</p>
            <p class="p8 ft1"><span class="capitalize">{{ name }}</span></p>
        {{/with}}
        
    </div>
</body>
</html>
